html
  head
    title Hello World
  body
    h1 Hello, world!
.

//- What you see above just compiles to HTML, which is what you see below.
//- Jade is just a way to write HTML in a more concise way, nothing crazy.
//- <html>
//-   <head>
//-     <title>Hello World</title>
//-   </head>
//-   <body>
//-     <h1>Hello, world!</h1>
//-   </body>
//- </html>